@{ ViewBag.Title = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml"; }



<h2>Details</h2>
<table class="table">
    <tr>
        <th>
            Name
        </th>



        <th>
            Age
        </th>


        <th>
            Gender
        </th>
        <th>
            Position
        </th>


        <th>
            Salary
        </th>
        <th>
            Office
        </th>


        <th>
            HireDate
        </th>
        <th>
            Description
        </th>
        <th>
            Skill
        </th>




    </tr>




    <tr>
        <td>
            @ViewBag.Student.Name
        </td>
        <td>
            @ViewBag.Student.Age
        </td>
        <td>
            @ViewBag.Student.Gender
        </td>
        <td>
            @ViewBag.Student.Position
        </td>
        <td>
            @ViewBag.Student.Salary
        </td>
        <td>
            @ViewBag.Student.Office
        </td>
        <td>
            @ViewBag.Student.HireDate
        </td>
        <td>
            @ViewBag.Student.Description
        </td>
        <td>
            @ViewBag.Student.Skill
        </td>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</table>